.swiper-slide-active > .line {
  margin: 16px 0;
  width: 400px;
  height: 40px;
  background: rgb(230, 54, 0);
  animation: drawLine .7s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}
.swiper-slide-active .text_wrap_top {
  overflow: hidden;
  p{
    background: #6e0d0d;
    color: #fff;
    padding: 12px 8px;
    width: max-content;
    letter-spacing: 0.02em;
    margin-top: 10px;
  }
  .text_wrap{
    transform: translateY(100%);
    animation: showTopText 1.2s ease .8s forwards;
  }
}
.swiper-slide-active .text_wrap_bottom {
  overflow: hidden;
  .text_wrap {
    transform: translateY(-110%);
    animation: showBottomText .8s ease 2.0s forwards;
  }
  h1 {
    margin-bottom: 8px;
  }
}
@keyframes drawLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes showTopText {
  0% {
    transform: translateY(100%);
  }
  // 50% {
  //   transform: translateY(50%);
  // }
  100% {
    transform: translateY(0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
  }
}