/* 공통 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body
{
    /* font-size: calc(0.35em + 0.7vw); */
    font-family: 'Hahmlet', serif;
    height: 100vh;
    color: #000000;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
}

a
{
    display: block;
    text-decoration: none;
}

img, button 
{
    vertical-align: middle;
    border: none;
}

.container
{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* header */
#header
{
    width: 100%;
    background: linear-gradient(rgb(255,255,255) 79px, rgba(255,255,255,0.5) 451px,
    rgba(255,255,255,0.5));
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    height: 79px;
    transition: all 0.5s;
    box-shadow: 0px 1px 3px 0px rgb(192, 192, 192);
}

.header-wrap
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.logo
{
    width: 10%;
    padding: 25px 0 0 10px;
}

.allmenu
{
    display: none;
}

.navi
{
    height: auto;
    padding: 20px;
    margin: 0 auto;
    /* position: relative;
    z-index: 1000; */
}

.mobile_lang
{
    display: none;
}

#menu
{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#menu > li 
{
    position: relative;
    z-index: 1000;
    width: 140px;
}

#menu a
{
    color: #000000;
}

#menu > li > a
{
    padding: 10px 30px;
    text-align: center;
}

#menu > li:hover
{
    font-weight: 600;
}
/* 마우스오버 선긋기 애니메이션*/
#menu > li::before
{
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    display: block;
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    transition: all linear 0.5s;
}

#menu > li:hover::before
{
    width: 140px;
    background-color: #d60202;
}

#submenu
{
    /* display: none; */
    position: absolute;
    text-align: center;
    padding-top: 30px;
    width: 140px;
    z-index: 1000 !important;
}

#submenu > li > a
{
    padding: 20px 30px;
    text-align: center;
    font-weight: 400;
}

#submenu > li > a:hover
{
    font-weight: 600;
    color: #b82b2b;
}

.lang
{
    
    padding: 20px;
}

select#language 
{
    padding: 10px;
}

@media (max-width: 1150px)
{
    #header
    {
        height: 79px;
        /* width: 100%; */
    }

    .header-wrap
    {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .logo
    {
        height: 100%;
    }

    .allmenu img
    {
        width: 35px;
        cursor: pointer;
    }

    .navi
    {
        /* display: none; */
        position: absolute;
        top: 79px;
        right: -45px;
        height: 100%;
        width: 50vw;
        background-color: #ffffff;
        overflow-y: auto;
        padding: 0;
    }

    .mobile_lang
    {
        display: flex;
        width: 100%;
        height: 50px;
        line-height: 50px;
        justify-content: center;
        background-color: #ffcbcb;
    }

    .mobile_lang a
    {
        padding-right: 10px;
        font-size: 1.3rem;
        font-weight: 600;
        color: #888888;
    }

    .mobile_lang a.active
    {
        color: #d60202;
    }

    #menu
    {
        display: block;
    }

    
    #menu > li 
    {
        /* position: relative;
        z-index: 1000; */
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #dddddd;
    }

    #menu > li:first-child
    {
        border-top: 1px solid #dddddd;
    }

    #menu > li::before
    {
        content: none;
    }

    #menu > li > a
    {
        /* padding: 10px 30px; */
        text-align: center;
        /* height: 50px; */
        line-height: 50px;
        font-weight: 600;
        font-size: 1.3rem;
        letter-spacing: 2px;
        color: #1f1f1f;
    }

    #menu > li > a.active
    {
        background-color: #e7302a;
        color: #ffffff;
        transition: all .3s;
    }
    
    #submenu
    {
        display: none;
        text-align: center;
        padding: 0;
        width: 100%;
        height: 100%;
        position: static;
        margin: 0 auto;
        background-color: #f4f4f4;
        
    }

    #submenu > li > a
    {
        /* padding: 20px 30px; */
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 1.2rem;
        /* transition: all 0.3s; */
    }

    #submenu > li > a:hover
    {
        
    }

    .allmenu
    {
        display: block;
        padding: 20px;
        color: #ffffff;
        /* height: 100%; */
        position: absolute;
        top: 0;
        right: 0;
    }

    .lang select
    {
        display: none;
    }
}

@media (max-width: 1150px)
{
    .navi
    {
        width: 110vw;
    }
}

/* section1 */
#section1
{
    padding-top: 79px;
    width: 100%;
    height: 100vh;
}

.swiper-container
{
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.swiper-wrapper
{
    display: flex;
}

.swiper-slide
{
    width: 100%;
    height: 90vh;
    position: relative;
    font-family: 'Secular One', sans-serif;
    z-index: 1 !important;
    background-repeat: no-repeat;
}

button:hover
{
    background-color: #ff000059;
    border: 1px solid #ffffff94;
    color: #ffffff;
    transition: all 0.8s;
}

.swiper-slide:nth-child(1)
{
    background-image: url(../images/section1/analysis-g15f3934a4_1920.jpg);
    color: #1f1f1f;
}
.swiper-slide:nth-child(2)
{
    background-image: url(../images/section1/syringe-gc2826a592_1920.jpg);
    color: #1f1f1f;
}
.swiper-slide:nth-child(3)
{
    background-image: url(../images/section1/research-gc49df73b8_1920.jpg);
    color: #ffffff;
}

.text_wrap_top
{
    margin-top: 500px;
}

.text_wrap > p
{
    font-size: 1rem;
}

.slide_text
{
    font-size: 3.5rem;
    font-weight:600;
    /* text-align: center; */
}

.slide_text , .text_wrap_top
{
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}

@media (min-width: 1151px)
{
    button
    {
        width: 150px;
        height: 40px;
        background-color: #ffffff3a;
        border: 1px solid #ffffff94;
        position: absolute;
        bottom: 5%;
        left: 5%;
        cursor: pointer;
        color: #383838;
    }
}

@media (max-width: 1150px)
{
    .swiper-slide:nth-child(1)
    {
        background-image: url(../images/section1/main1_2.jpg);
    }
    .swiper-slide:nth-child(2)
    {
        background-image: url(../images/section1/main3_2.jpg);
        color: #1f1f1f;
    }
    .swiper-slide:nth-child(3)
    {
        background-image: url(../images/section1/main2_2.jpg);
    }

    .text_wrap_top
    {
        /* color: #ffffff; */
        margin-top: 45%;
    }

    .text_wrap > p
    {
        font-size: 1rem;
    }

    .slide_text
    {
        font-size: 3rem;
        font-weight: 400;
    }

    .slide_text , .text_wrap_top
    {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }

    .btn
    {
        width: 100%;
        height: 40px;
        margin-bottom: 100px;
    }

    button
    {
        width: 150px;
        height: 40px;
        background-color: #ffffff3a;
        border: 1px solid #ffffff94;
        cursor: pointer;
        color: #383838;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 640px)
{
    .swiper-slide:nth-child(1)
    {
        background-image: url(../images/section1/main1_3.jpg);
    }
    .swiper-slide:nth-child(2)
    {
        background-image: url(../images/section1/main3_3.jpg);
    }
    .swiper-slide:nth-child(3)
    {
        background-image: url(../images/section1/main2_3.jpg);
    }

    .text_wrap > p
    {
        font-size: 0.9rem;
    }

    .slide_text
    {
        font-size: 2rem;
        font-weight: 400;
        position: relative;
    }

    .btn
    {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
    }

    button
    {
        width: 150px;
        height: 40px;
        display: block;
        margin: 0 auto;
    }
}

/* .swiper-slide a
{
    font-family: 'Secular One', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
} */

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal 
{
    bottom: 30px;
}

.swiper-scrollbar 
{
    border-radius: 0px !important;
    position: relative;
    -ms-touch-action: none;
    background: rgba(255, 100, 100, 0.3);
}

.swiper-scrollbar-drag 
{
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(255, 0, 0, 0.63);
    border-radius: 0px !important;
    left: 0;
    top: 0;
}

  
/* section 2 */
#section2
{
    width: 100%;
    height: 100%;
    max-height: 860px;
}

.section2_wrap
{
    width: 80%;
    margin: 0 auto;
}

.section2_txt
{
    width: 100%;
    
}

.main_title
{
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin: 30px auto;
    text-align: center;
    font-size: 2rem;
    border-left: #d60202 solid 3px;
    border-right: #d60202 solid 3px;
}

.tab-wrapper
{
    width: 100%;
    margin-top: 50px;
}

.tabmenu
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* pointer-events : none; */
}

#tab_contents 
{
    width: 90%;
    margin: 0 auto;
}

#tab_contents > div
    {
        /* display: flex; */
        display: none;
        
    }

.tab_img 
{
    width: 100%;
}

.tab_img img
{
    width: 100%;
    height: 400px;
}

.tab1_contents
{
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgb(136, 153, 185); */
}

.tabmenu
{
    margin-bottom: 20px;
}

.tabmenu > li:first-child
{
    width: 200px;
    height: 60px;
    /* background-color: rgb(145, 142, 142); */
    border-left: 3px solid #d60202;
}

.tabmenu > li:last-child
{
    width: 200px;
    height: 60px;
    /* background-color: rgb(145, 142, 142); */
    border-right: 3px solid #d60202;
}

.tabmenu > li > a
{
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #1f1f1f;
    font-size: 1.7rem;
}

.tabmenu > li > a.active
{
    background-color: rgb(253, 187, 170);
    color: #1f1f1f;
    width: 197px;
    transition: all 0.8s;
}

.tab1_contents > li
{
    width: 90%;
    border-bottom: #e4e4e4 1px solid;
    margin: 0 auto;
    
}

.tab1_contents > li:last-child
{
    border: none;
}

.tab1_contents > li > a
{
    display: flex;
    color: #1f1f1f;
    line-height: 40px;
    font-size: 0.9rem;
    padding: 0 50px;
    width: 100%;
    justify-content: center;
}

#tabs1, #tabs2
{
    width: 100%;
    display: flex;
    border-bottom: 2px solid #b82b2b;
}

@media (max-width: 1150px)
{
    .tab_img 
    {
        width: 100%;
        height: 50%;
    }

    .tab_img img
    {
        width: 100%;
        height: 50%;
    }

    .tab-wrapper
    {
        /* display: flex; */
        height: 50%;
    }

    .tabmenu
    {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        pointer-events: all;
    }
    .tabmenu > li:first-child
    {
        width: 150px;
        height: 60px;
        /* background-color: rgb(145, 142, 142); */
        border-left: 3px solid #d60202;
    }
    
    .tabmenu > li:last-child
    {
        width: 150px;
        height: 60px;
        /* background-color: rgb(145, 142, 142); */
        border-right: 3px solid #d60202;
    }

    .tabmenu > li > a
    {
        width: 150px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        color: #1f1f1f;
        font-size: 1.3rem;
    }

    .tabmenu > li > a.active
    {
        background-color: rgb(253, 187, 170);
        color: #1f1f1f;
        width: 147px;
        transition: all 0.8s;
    }

    #tab_contents > div
    {
        /* display: flex; */
        display: none;
        
    }

    #tabs1, #tabs2
    {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        
    }

    .tab1_contents
    {
        width: 100%;
        height: 100%;
        display: block;
    }

    .tab1_contents > li
    {
        width: 90%;
        border-bottom: #e4e4e4 1px solid;
        display: inline-block; /*가운데정렬*/
        text-align: center;
    }

    .tab1_contents > li:last-child
    {
        border: none;
    }

    .tab1_contents > li > a {
        display: flex;
        color: #1f1f1f;
        line-height: 40px;
        font-size: 0.9rem;
        padding: 0 50px;
        width: 100%;
        justify-content: center;
    }

}

@media (max-width: 640px)
{
    .section2_wrap
    {
        width: 100%;
    }

    .main_title
    {
        font-size: 1.7rem;
    }

    .tab-wrapper
    {
        /* display: flex; */
        height: 50%;
    }

    .tabmenu
    {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        pointer-events: all;
    }
    .tabmenu > li:first-child
    {
        width: 100px;
        height: 40px;
        /* background-color: rgb(145, 142, 142); */
        border-left: 3px solid #d60202;
    }
    
    .tabmenu > li:last-child
    {
        width: 100px;
        height: 40px;
        /* background-color: rgb(145, 142, 142); */
        border-right: 3px solid #d60202;
    }

    .tabmenu > li > a
    {
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #1f1f1f;
        font-size: 1rem;
    }

    .tabmenu > li > a.active
    {
        background-color: rgb(253, 187, 170);
        color: #1f1f1f;
        width: 97px;
        transition: all 0.8s;
    }

    #tab_contents
    {
        width: 100%;
    }

    #tab_contents > div
    {
        /* display: flex; */
        display: none;
        
    }

    #tabs1, #tabs2
    {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        
    }

    .tab1_contents
    {
        width: 100%;
        height: 100%;
    }

    .tab1_contents > li
    {
        width: 90%;
        border-bottom: #e4e4e4 1px solid;
        display: inline-block; /*가운데정렬*/
        text-align: center;
    }

    .tab1_contents > li:last-child
    {
        border: none;
    }

    .tab1_contents > li > a
    {
        display: block;
        color: #1f1f1f;
        line-height: 25px;
        font-size: 0.9rem;
        padding: 0;
    }
}


/* section 3 */

#section3
{
    padding-top: 150px;
    width: 100%;
    height: 100%;
}

/*--- Parallax ---*/
.parallax 
{
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 500px;
    padding: 50px 0;
    background: none;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.parallax_txt
{
    width: 600px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plx-img 
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 125%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.parallax h2 
{
    display: block;
    font-size: 3rem;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 5px rgba(0,0,0,0.75);
    border-left: #ffffff solid 3px;
    border-right: #ffffff solid 3px;
    margin-bottom: 20px;
}

.parallax p 
{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 5px rgba(0,0,0,0.75);
}

.para_wrap > p:nth-child(2)
{
    color: #ee2929;
    text-shadow: 0 1px 5px rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 640px) 
{
    #section3
    {
        padding-top: 100px;
    }

    .parallax_txt
    {
        width: 330px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parallax h2 
    {
        height: 50px;
        font-size: 2rem;
        line-height: 46px;
    }
    .parallax p 
    {
        font-size: 0.9rem;
        line-height: 22px;
    }
}


/* section 4 */

#section4
{
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.section4_wrap
{
    width: 90%;
    margin: 0 auto;
}

.rd_contents
{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.rd-content
{
    width: 30%;
    height: 90%;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}

/* .rd-content:hover img
{
    filter: brightness(50%);
    transition: all 0.6s;
} */

.rd-content a
{
   color: #ffffff;
}

.rd-content > a > img
{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    filter: brightness(50%);
}

.rd-cont-txt
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙정렬 */
    text-align: center;
    margin: 0 10px;
    
    padding: 20px 20px;
    width: 90%;
    margin: 0 auto;
}

.rd-cont-txt img
{
    width: 50%;
}

.fa-flask, .fa-house-medical, .fa-timeline
{
    font-size: 2rem;
    color: #f16969;
}

.rd-cont-txt h3
{
    font-size: 1.3rem;
    line-height: 50px;
    margin-bottom: 50px;
}

.rd-cont-txt p
{
    font-size: 0.9rem;
    line-height: 20px;
}

@media (max-width: 1150px)
{
    .rd-content a
    {

    }
    .rd-cont-txt img
    {
        padding-bottom: 20px;
    }

    .rd-cont-txt h3
    {
        font-size: 1rem;
        margin: 0;
        line-height: 20px;
    }

    .rd-cont-txt p
    {
        font-size: 0.8rem;
        display: none;
    }

    /* .rd-content:hover p
    {
        display: block;
        transition: all 0.8s;
    } */
}

@media (max-width: 640px)
{
    .rd_contents
    {
        display: block;
    }

    .rd-content
    {
        width: 100%;
        margin: 0;
        /* height: 30%; */
    }
    
    .rd-content > a > img
    {
        width: 100%;
        max-height: 300px;
        max-width: 400px;
        margin-bottom: 10px;
    }

    .rd-cont-txt img
    {
        width: 30%;
    }

    .rd-cont-txt p
    {
        display: none;
    }

    .rd-cont-txt h3
    {
        margin: 0;
    }
}


/* section 5 */

#section5
{
    width: 100%;
    height: 100vh;
    min-height: 800px;
    padding-top: 40px;
}

.section5_wrap
{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.products_slide
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 500px;
    height: 80%;
}

.product_cont
{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.showing
{
    position: relative;
    z-index: 1;
    opacity: 1;
}

.product_cont a
{
    width: 80%;
    margin: 0 auto;
}

.product_cont img
{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

@media (min-width: 1150px)
{
    .product_cont a
    {
        max-width: 800px;
    }

    .product_cont p
    {
        font-size: 1.3rem;
        text-align: center;
        color: #1f1f1f;
        font-weight: 600;
        line-height: 60px;
    }
}

@media (max-width: 1150px)
{
    #section5
    {
        width: 100%;
        height: 90vh;
        min-height: 400px;
        padding-top: 40px;
    }

    /* .section5_wrap
    {
        width: 90%;
        min-height: 600px;
        margin: 0 auto;
    } */

    .product_cont a
    {
        width: 80%;
        margin: 0 auto;
        min-width: 600px;
    }

    .product_cont img
    {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
    }

    .product_cont p
    {
        font-size: 1.3rem;
        text-align: center;
        color: #1f1f1f;
        font-weight: 600;
        line-height: 60px;
    }
}

@media (max-width: 640px)
{
    #section5
    {
        width: 100%;
        height: 65vh;
        min-height: 400px;
        padding-top: 40px;
    }

    .product_cont a
    {
        width: 90%;
        margin: 0 auto;
        min-width: 300px;
    }

    .product_cont img
    {
        width: 100%;
        margin: 0 auto;
        min-width: 300px;
    }
}

/* footer */
footer
{
    width: 100%;
    height: 250px;
    background-color: #2c2c2c;
    color: #ffffff;
    
    font-size: 0.7rem;
}

.footer_wrap
{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer_left
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.footer_middle
{
    width: 60%;
    margin: auto;
}

.middle_first
{
    display: flex;
    font-weight: 600;
}

.middle_first p:not(.middle_first > p:first-child)
{
    padding: 0 30px;
    margin: 0 0 10px 0;
}

.middle_first > p:first-child
{
    padding: 0 20px;
    margin: 0 0 10px 0;
}

.middle_first > p:not(.middle_first > p:last-child)
{
    border-right: 1px solid #818181;
}

.middle_second
{
    display: flex;
    margin: 0 20px;
}

.middle_second p
{
    display: block;
    padding-right: 10px;
    margin: 0 10px 10px 0;
}

.middle_second > p:nth-child(1), .middle_second > p:nth-child(2)
{
    border-right: 1px solid #818181;
}

.middle_third
{
    margin: 0 0 30px 20px;
}

.middle_last
{
    margin: 0 20px;
}

.footer_right
{
    width: 20%;
}

.right_wrap
{
    margin: 79px auto;
    width: 178px;
}

.footer_right select
{
    padding: 10px;
    display: block;
    margin: auto;
    border-radius: 5px;
    background-color: inherit;
    color: #818181;
}

.footer_right .sns
{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.sns > a
{
    display: block;
    margin-left: 5px;
}

@media (max-width: 1150px)
{
    .footer_left img
    {
        width: 100%;
    }
    .middle_first p:not(.middle_first > p:first-child)
    {
        padding: 0 10px;
        margin: 0 0 10px 0;
    }

    .middle_first > p:first-child
    {
        padding: 0 10px;
        margin: 0 0 10px 0;
    }

    .middle_first > p:not(.middle_first > p:last-child)
    {
        border-right: 1px solid #818181;
    }

    .middle_second
    {
        display: flex;
        margin: 0 10px;
    }

    .middle_second p
    {
        display: block;
        padding-right: 10px;
        margin: 0 10px 10px 0;
    }
    .middle_third 
    {
        margin: 0 0 30px 10px;
    }
    .middle_last
    {
        margin: 0 10px;
    }
}

@media (max-width: 640px)
{   
    footer
    {
        width: 100%;
        height: 100%;
    }

    .footer_wrap
    {
        width: 100%;
        display: block;
    }

    .footer_left
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        margin: 0 auto;
    }

    .footer_left img
    {
        margin: 15px 0;
    }

    .footer_middle
    {
        width: 90%;
        margin: 0 auto;
    }

    .middle_first, .middle_second, .middle_third, .middle_last
    {
        display: flex;
        justify-content: center;
    }

    .footer_right
    {
        width: 100%;
    }

    .right_wrap
    {
        width: 90%;
        margin: 15px auto;
    }

    .footer_right select
    {
        width: 100%;
        display: block;
    }

    .footer_right .sns 
    {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
}